<html>
	<head>
		<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" charset="utf-8">
		<script src="js/script.js" charset="utf-8" defer></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<section id="introModal" class="modal modal--show">
			<article class="modal__window">
				<div class="icon__hamburger icon__hamburger icon__hamburger--dark modal__x modal__close icon__hamburger--slim icon__hamburger--open">
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
				</div>
				<h2 class="modal__title">Hello! Hola! 你好!</h2>
				<p class="modal__copy">Lingua Franca is a tool to help designers and developers evaluate the text content of their designs. Use the translation data from Lingua Franca to adjust your UI so that it accomdates a full range of languages.</p>
				<h2 class="modal__title">How to Use Lingua:</h2>
				<p class="modal__copy">Enter a phrase to see the comparative length in different languages.</p>
				<p class="modal__copy">The table shows the length of your origin phrase relative to the length of other languages. The table also displays the proportion of languages both longer and shorter than the detected input language.</p>
				<p class="modal__copy">Choose which languages you want to test in the settings panel. By default the 30 most common languages are selected.</p>
				<section class="column modal__content">
					<div class="column--2-sixth column--modal">
						<figure class="img__modal-figure img--full_width img--config_1"></figure>
						<p class="modal__copy">Your default language is the longest – this term works well.</p>
					</div>
					<div class="column--2-sixth column--modal">
						<figure class="img__modal-figure img--full_width img--config_2"></figure>
						<p class="modal__copy">A couple languages are longer than your default – decide how you might want to handle these edge cases.</p>
					</div>
					<div class="column--2-sixth column--modal">
						<figure class="img__modal-figure img--full_width img--config_3"></figure>
						<p class="modal__copy">Most other languages are longer – take a look at the longer strings to see if you need to make structural changes to your UI to accomodate!</p>
					</div>
				</section>
				<button class="button modal__button modal__close">Let's go!</button>
			</article>
		</section>
		<header class="header" id="header">
			<h1 class="header__title">Lingua Franca</h1>
			<div id="sidePanelHamburger" class="header__menu icon__hamburger icon__hamburger--toggle">
				<div class="bar"></div>
				<div class="bar"></div>
				<div class="bar"></div>
			</div>
			<aside class="sidebar" id="mainSidebar">
				<h3 id="sidebarIntroModal" class="sidebar__call-to-action">How to Use Lingua Franca</h3>
				<h3 class="sidebar__header">Customize Languages</h3>
				<ul class="sidebar__languages">
					<li class="sidebar__language checkbox checkbox--master-select">
						<input type="checkbox" class="checkbox__box" id="masterLangToggle">
						<label for="masterLangToggle" class="checkbox__label checkbox__label--master"><span>Select all/none</span></label>
					</li>
					<% langList.languages.forEach(function(language) {%>
						<li class="sidebar__language checkbox "><input type="checkbox" id="<%= language.language %>" class="langCheckBox checkbox__box" <% if (defaultLangs[language.language]) { %> checked <% } %>><label for="<%= language.language %>" class="checkbox__label"><span><%= language.name %></span></label></li>
					<% }); %>
				</ul>
			</aside>
		</header>
		<div class="content-wrapper">
			<section class="content-wrapper__scroll">
				<article class="card card--transparent">
					<form id="phraseForm" class="card__text-entry" action>
						<input placeholder="Origin Phrase" type="text" id="translationTextField" class="card__text-input phraseInput"/>
						<button type="submit" form="phraseForm" id="translationTextSubmit" class="button phraseSubmit card__text-submit">
							<span class="button__text">Translate</span>
						</button>
					</form>
					<span class="card__dropdown card__dropdown--onload" id="inputLanguage">
						<select class="dropdown" id="inputLanguageSelector">
							<option value="" disabled selected>Auto</option>
							<% langList.languages.forEach(function(language) { %>
								<option value="<%= language.language %>"><%= language.name %></option>
							<% }); %>
						</select>
					</span>
				</article>
				<article class="card card--transparent card--hidden card--tiny" id="loader">
					<div class="icon__loader">
						<div class="icon__loader--ball"></div>
						<div class="icon__loader--ball"></div>
						<div class="icon__loader--ball"></div>
					</div>
				</article>
				<article class="card card--hidden" id="langDataCard">
					<div class="table">
						<div class="table__row">
							<div class="column--2-sixth languageColumn" id="dataLangColumn">
								<span class="table--header">Language</span>
							</div>
							<div class="column--3-sixth textColumn">
								<span class="table--header table__column--sortable table__column--down" data-direction="0"  id="dataTranslationHeader">Translation</span>
							</div>
							<div class="column--1-sixth">
								
							</div>
						</div>
						<div class="table__content" id="dataLangElems">
							<div class="column--1-sixth table__column--gradient" id="gradientColumn"></div>
						</div>
					</div>
				</article>
			</section>
		</div>
	</body>
</html>
