<html>
	<head>
		<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" charset="utf-8">
		<script src="js/script.js" charset="utf-8"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header class="header" id="header">
			<h1 class="header__title">Lingua Franca</h1>
			<div id="sidePanelHamburger" class="header__menu icon__hamburger icon__hamburger--main">
				<div class="bar"></div>
				<div class="bar"></div>
				<div class="bar"></div>
			</div>
			<aside class="sidebar" id="mainSidebar">
				<h3 class="sidebar__header--cta"><a class="sidebar__call-to-action" href="#">How to Use Lingua Franca</a></h3>
				<h3 class="sidebar__header">Customize Languages</h3>
				<ul class="sidebar__languages">
					<li class="sidebar__language checkbox checkbox--master-select">
						<input type="checkbox" class="checkbox__box" id="masterLangToggle">
						<label for="masterLangToggle" class="checkbox__label checkbox__label--master"><span>Select all/none</span></label>
					</li>
					<% langList.languages.forEach(function(language) {%>
						<li class="sidebar__language checkbox "><input type="checkbox" id="<%= language.language %>" class="langCheckBox checkbox__box" <% if (defaultLangs[language.language]) { %> checked <% } %>><label for="<%= language.language %>" class="checkbox__label"><span><%= language.name %></span></label></li>
					<% }); %>
				</ul>
			</aside>
		</header>
		<div class="content-wrapper">
			<section class="content-wrapper__scroll">
				<article class="card card--transparent">
					<div class="card__text-entry">
						<input placeholder="Origin Phrase" type="text" id="translationTextField" class="card__text-input"/>
						<button action="submit" id="translationTextSubmit" class="card__text-submit">
							<span class="button__text">Translate</span>
						</button>
					</div>
					<span class="card__dropdown card__dropdown--onload" id="inputLanguage">
						<select class="dropdown" id="inputLanguageSelector">
							<option value="" disabled selected>Auto</option>
							<% langList.languages.forEach(function(language) { %>
								<option value="<%= language.language %>"><%= language.name %></option>
							<% }); %>
						</select>
					</span>
				</article>
				<article class="card card--transparent card--hidden card--tiny" id="loader">
					<div class="icon__loader">
						<div class="icon__loader--ball"></div>
						<div class="icon__loader--ball"></div>
						<div class="icon__loader--ball"></div>
					</div>
				</article>
				<article class="card card--hidden" id="langDataCard">
					<div class="table">
						<div class="table__row">
							<div class="table__column--2-sixth languageColumn" id="dataLangColumn">
								<span class="table--header">Language</span>
							</div>
							<div class="table__column--3-sixth textColumn">
								<span class="table--header table__column--sortable table__column--down" data-direction="0"  id="dataTranslationHeader">Translation</span>
							</div>
							<div class="table__column--1-sixth">
								
							</div>
						</div>
						<div class="table__content" id="dataLangElems">
							<div class="table__column--1-sixth table__column--gradient" id="gradientColumn"></div>
						</div>
					</div>
				</article>
			</section>
		</div>
	</body>
</html>
